*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Nix builds artifacts
result*

# Local copy of Android SDK from Nix store
local-android-sdk
